* {
    box-sizing: border-box;
}

#logo {
  color: tan;
  font-size: 25pt;
  font-family: sans-serif;
  text-shadow: 1px 2px black;
}

#mainbg{
  height: auto;
  width: auto;
  background-color:floralwhite;
  margin: 0;
}

#textt{
   margin-left: 15px; 
}
form{
    margin-left: 15px;
}

h1{
    font-family: "Times New Roman", Times, serif;
    color: saddlebrown;
    text-align: center;
}

h3{
    font-family: "Times New Roman", Times, serif;
    color: saddlebrown;
}


ul.a{
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color:blanchedalmond;
  top: 0;
  overflow: auto;
  border: 2px solid tan;
}


li{
    float: left;
}


li a{
  display: block;
  color: black;
  padding: 14px 16px;
  text-decoration: none; 
}

li a.activee{
  background-color: burlywood;
  color: white; 
}


.row {
  display: flex;
}

/* Create three equal columns that sits next to each other */
.column {
  flex: 33.33%;
  padding: 6px;
}

img {
  box-shadow: 0px 2px 6px black;
}   


input[type=text] {
  width: 50%;
  padding: 5px 8px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid burlywood;
  -webkit-transition: 0.75s;
  transition: 0.75s;
  outline: none;
}

input[type=text]:focus {
  border: 2px solid black;
}

input[type=email] {
  width: 80%;
  padding: 5px 8px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid burlywood;
  -webkit-transition: 0.75s;
  transition: 0.75s;
  outline: none;
}

input[type=email]:focus {
  border: 2px solid black;
}

input[type=password] {
  width: 50%;
  padding: 5px 8px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid burlywood;
  -webkit-transition: 0.75s;
  transition: 0.75s;
  outline: none;
}

input[type=password]:focus {
  border: 2px solid black;
}

input[type=submit]{
  background-color:burlywood;
  border: 2px solid tan;
  color: white;
  padding: 6px 9px;
  text-decoration: none;
  float: right;
  margin-right: 15px;
}
